<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="testPluginMethod('Test Message')">
      test testPluginMethod
    </ion-button>
    <ion-button (click)="Callback()"> Callback </ion-button>
    <ion-button (click)="Enum()"> Enum </ion-button>
    <ion-button (click)="openPort()"> Open port </ion-button>
    <ion-button (click)="closePort()"> close port </ion-button>
    <ion-button (click)="SampleTicket_58MM1()"> SampleTicket_58MM1 </ion-button>
    <ion-button (click)="SampleTicket_58MM2()"> SampleTicket_58MM2 </ion-button>
    <ion-button (click)="SampleTicket_80MM1()"> SampleTicket_80MM1 </ion-button>
    <ion-button (click)="test_Port_Read()"> test_Port_Read </ion-button>
    <ion-button (click)="test_Pos_PrintSelfTestPage()">test_Pos_PrintSelfTestPage</ion-button>
    <!-- <ion-button (click)="suncashradius()">Audio</ion-button> -->
  </div>
</ion-content>
